/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143);
}
/* End Varibales */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    
    position: absolute;
    z-index: 3;
    width: 100%;
    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.header .container::before {
    content: "";
    width: calc(100% - 30px);
    position: absolute;
    background-color: #a2a2a2;
    bottom: 0;
    height: 1px;
}

.header .container > a {
    color: white;
    font-family: 'Work Sans', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}
.header .container nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container nav .toggle-menu {
    font-size: 22px;
    color: white;
    
}
@media (min-width: 767px) {
    .header .container nav .toggle-menu {
        display: none;
    }
}
.header .container nav ul   {
   display: flex;
}
@media (max-width: 767px) {
    .header .container nav {
        justify-content: flex-end;
        
    }
    .header .container nav ul {
        display: none;
        align-items: flex-end;
        transition: 0.3s;
    }
    .header .container nav .toggle-menu:hover + ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 75%;
        height: 85vh;
        background-color: white; 
        z-index: -2;  
    }
}
.header .container nav  ul li a {
    padding: 40px 10px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    transition: .5s;
    color: white;
    width: 100%;
    position: relative;
    z-index: 5;   
}
.header nav  ul li a.active,
.header nav > ul  a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
@media (max-width: 767px ) {
    .header nav ul li a {
        padding: 10px 0 10px 40px!important;
        color: black !important;
        position: relative;
        width: 100%;
    }
    .header .container nav ul li a.active  {
        margin-top: 70px;        
    }
    .header nav  ul li a.active {
        border-width: 0;
        color: var(--main-color);
    }

    .header nav > ul  a:hover{
        border-width: 0px;
}
}
.header .container ul:not(.header nav > ul) {
    display: none;
}
.header .container .phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 0;
    width: 180px;
    
}
@media (max-width: 767px)  {
    .header .container .phone {
        display: none;
    }
}
.header .container .phone .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff33;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3;
}
.header .container .phone .icon:hover {
    border: 2px solid white;
}
.header .container .phone .icon:hover::before  {
    animation-name: phone-anim;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
}

@keyframes phone-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
.header .container .phone .icon::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f095';
    font-weight:bold;
    position: relative;
    color: white;
}
.header .container .phone :last-child {
    color: white;
    font-size: 14px;
}
.header .container .phone:hover :last-child {
    transform: scale(1.1);
    margin-left: 10px;
    transition: 0.3s;
}
 /* End Header */ 
/* Start Landing */ 
 .landing {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url('../imgs/noelle-guirola-5NqUXa6pZDM-unsplash.jpg');
    background-size: cover;
    position: relative;    
    text-align: center;
}
.landing .overlay {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 35%);
}
.landing .text {
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing h1 {
    font-size: 50px;

}
@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}

.landing .button {
    position: absolute;
    background-color: var(--transparent-color);
    padding: 15px 30px;
    border-radius: 30px;
    border-color: var(--transparent-color);
    top: 65%;
    left: 50%;
    transform: translateX(-50%);

}
@media (max-width:767px) {
    .landing .text {
        padding: 30px !important;
        width: 100%;
    }
    .landing .button {
        top: 70%;
    }
}
.landing .button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* End Landing */
/* Start Services */
/* End Services */
.services{
    background-color: whitesmoke;
}
.services h2{
    color: teal;
    font-size: 30px;
    margin: 30px auto;
    width: 1130px;
  
    }
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    margin: 35px;
    gap: 35px;
    }
.card{
    background-color: white;
    border: 1px solid white;
    padding: 20px auto;
    margin:35px auto;
    height: 400px;
    width: 350px;
    
   }
.card i{
    color: teal;
    font-size: 50px;
    margin-left: 30px;
    padding-top: 70px;
    padding-bottom: 30px;
}
.card h5{
    font-size: larger;
    margin-left: 30px;

}
.card p{
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #a2a2a2;
}
.card a{
    text-decoration: none;
    color: gray;
    font-size: large;
        margin-bottom: 50%;
    
}